<h1>Make your form here</h1>

<form method="post" action="/show">

<body>
Name: <input id="pirate[name]" type="text" name="pirate[name]"></h1>
Weight: <input id="pirate[weight]" type="text" name="pirate[weight]"></h1>
Booty: <input id="pirate[booty]" type="text" name="pirate[booty]"></h1>
<input="submit" name="submit">

</form>
</body>